# Data Analysis and Design Communication Scenarios

## Setup

In [1]:
# Load libraries
import pandas as pd

## Database

In [2]:
# TODO
# Load data from PostgreSQL

**Database schema**

![Database schema](../data/database_schema.png)

In [3]:
# Load datasets
customers = pd.read_excel('../data/customers_jury.xlsx')
stations = pd.read_csv('../data/stations.csv')
routes = pd.read_csv('../data/routes.csv')
trips = pd.read_csv('../data/trips.csv')

In [4]:
# 1. Customers
customers

,customer_id,first_name,last_name,email,mobile,tel,mobile_status,email_status,created_at,birthdate,address,address_number,city
0,1,Κωνσταντίνος,Βαΐτσας,c.vaitsas@gmail.com,NaN,231012345,subscribed,subscribed,20211023,2000,Kosti Palama,23,Thessaloniki
1,2,Σπύρος,Πατέρας,NaN,NaN,231012346,subscribed,subscribed,20211024,2001,Kosti Palama,24,Thessaloniki
2,3,Γιώργος,Καραμανώλης,george@crowdpolicy.com,6.937038e+09,231012347,subscribed,subscribed,20211025,2002,Kosti Palama,25,Thessaloniki
3,4,Αφροδίτη,Σεβαστή,NaN,NaN,231012348,subscribed,subscribed,20211026,2003,Kosti Palama,26,Thessaloniki
4,5,Γιάννης,Γιανναράκης,NaN,NaN,231012348,subscribed,subscribed,20211027,2004,Kosti Palama,27,Thessaloniki
5,6,Γιάννης,Χαραλαμπίδης,yannisx@aegean.gr,NaN,231012348,subscribed,subscribed,20211028,2005,Kosti Palama,28,Thessaloniki
6,7,Χρήστος,Καλλονιάτης,chkallon@aegean.gr,6.979722e+09,231012348,subscribed,subscribed,20211029,2006,Kosti Palama,29,Thessaloniki
7,8,Κωνσταντίνος,Δαληβίγκας,daliviga@otenet.gr,6.948008e+09,231012348,subscribed,subscribed,20211030,2007,Kosti Palama,30,Thessaloniki
8,9,Παναγιώτης,Παπαεμμανουήλ,papaemman.pan@gmail.com,6.985832e+09,231012349,subscribed,subscribed,20211031,2008,Kosti Palama,31,Thessaloniki
9,10,Λάζαρος,Πασχαλίδης,lazarospaschal@gmail.com,6.940088e+09,231012350,subscribed,subscribed,20211032,2009,Kosti Palama,32,Thessaloniki
10,11,Γιώργος,Πανογεώργος,panogeorgosgeo@gmail.com,6.980725e+09,231012351,subscribed,subscribed,20211033,2010,Kosti Palama,33,Thessaloniki
11,12,Δημήτρης,Πανόπουλος,jimpanop81@gmail.com,6.972428e+09,231012351,subscribed,subscribed,20211033,2010,Kosti Palama,33,Thessaloniki

In [5]:
# Fix Data Types
# customers["mobile"].astype(int)

In [6]:
# 2. Stations
stations

   station_id          name        lat        lon
0        5555        athens  38.004994  23.734888
1        5551        larisa  39.629915  22.422677
2        5552         lamia  38.896864  22.434856
3        5553    lianokladi  38.892723  22.373058
4        5554  thessaloniki  40.644613  22.929759
5        5556      katerini  40.268763  22.531380

In [7]:
# 3. Routes
routes

   route_id  departure  destination  estimated_duration
0    353245       5555         5553                   3
1    654654       5551         5552                   2
2    345435       5555         5551                   5
3    436436       5555         5552                   5
4    654646       5555         5554                   4

In [8]:
# 4. Trips
trips

    trip_id  customer_id  route_id       trip_datetime  ticket_price
0         1            1    353245  '20/10/2021 17:00'            40
1         2            2    353245  '25/07/2021 21:00'            40
2         3            3    353245  '25/07/2021 21:00'            40
3         4            4    436436  '25/09/2021 11:00'            35
4         5            5    436436  '25/10/2021 11:00'            35
5         6            6    436436  '25/10/2021 11:00'            35
6         7            7    654646  '25/10/2021 14:00'            12
7         8            1    654646  '25/10/2021 14:00'            42
8         9            3    436436  '25/10/2021 21:00'            28
9        10            5    436436  '25/10/2021 21:00'            28
10       11            8    436436  '25/10/2021 22:20'            12
11       12            5    436436  '25/10/2021 10:27'            45
12       13            4    353245  '24/10/2021 10:02'            25
13       14            1    353245  '25/10/2021 11:00'            25
14       15            2    654654  '25/10/2021 14:00'            16
15       16            2    654646  '25/10/2021 14:00'            13
16       17            2    353245  '25/10/2021 14:00'            17
17       18            1    436436  '25/10/2021 22:00'            15
18       19            7    436436  '25/10/2021 23:10'            15
19       20            6    353245  '26/10/2021 22:00'            18
20       21            8    353245  '26/10/2021 22:00'            19
21       22            3    345435  '30/10/2021 22:00'            19

In [9]:
# Fix datatypes
trips['trip_datetime'] =  pd.to_datetime(trips['trip_datetime'])

## Merge data

In [10]:
# Customer + Trips
customer_trips = pd.merge(customers, trips, on="customer_id")

In [11]:
# Customer_trips + Routes
customer_trips = pd.merge(customer_trips, routes, on = "route_id")

In [12]:
# Customer_trips + Stations
customer_trips = pd.merge(customer_trips, stations,
                          left_on="departure", right_on = "station_id")

customer_trips = customer_trips.rename(columns={"station_id":"departure_station_id",
                                               "name":"departure_name",
                                               "lat":"departure_lat",
                                               "lon":"departure_lon"})


customer_trips = pd.merge(customer_trips, stations,
                          left_on="destination", right_on = "station_id")

customer_trips = customer_trips.rename(columns={"station_id":"destination_station_id",
                                               "name":"destination_name",
                                               "lat":"destination_lat",
                                               "lon":"destination_lon"})

In [13]:
customer_trips.columns

Index(['customer_id', 'first_name', 'last_name', 'email', 'mobile', 'tel',
       'mobile_status', 'email_status', 'created_at', 'birthdate', 'address',
       'address_number', 'city ', 'trip_id', 'route_id', 'trip_datetime',
       'ticket_price', 'departure', 'destination', 'estimated_duration',
       'departure_station_id', 'departure_name', 'departure_lat',
       'departure_lon', 'destination_station_id', 'destination_name',
       'destination_lat', 'destination_lon'],
      dtype='object')

In [14]:
# Keep relevant columns
customer_trips = customer_trips[["customer_id", "first_name", "last_name", "email", "mobile",
                                 "mobile_status", "email_status",
                                 "trip_datetime", "ticket_price",
                                 "departure_name", "destination_name","estimated_duration",
                                 "departure_lat", "departure_lon", 
                                 "destination_lat", "destination_lon"]]

In [15]:
customer_trips

,customer_id,first_name,last_name,email,mobile,mobile_status,email_status,trip_datetime,ticket_price,departure_name,destination_name,estimated_duration,departure_lat,departure_lon,destination_lat,destination_lon
0,1,Κωνσταντίνος,Βαΐτσας,c.vaitsas@gmail.com,NaN,subscribed,subscribed,2021-10-20 17:00:00,40,athens,lianokladi,3,38.004994,23.734888,38.892723,22.373058
1,1,Κωνσταντίνος,Βαΐτσας,c.vaitsas@gmail.com,NaN,subscribed,subscribed,2021-10-25 11:00:00,25,athens,lianokladi,3,38.004994,23.734888,38.892723,22.373058
2,2,Σπύρος,Πατέρας,NaN,NaN,subscribed,subscribed,2021-07-25 21:00:00,40,athens,lianokladi,3,38.004994,23.734888,38.892723,22.373058
3,2,Σπύρος,Πατέρας,NaN,NaN,subscribed,subscribed,2021-10-25 14:00:00,17,athens,lianokladi,3,38.004994,23.734888,38.892723,22.373058
4,3,Γιώργος,Καραμανώλης,george@crowdpolicy.com,6.937038e+09,subscribed,subscribed,2021-07-25 21:00:00,40,athens,lianokladi,3,38.004994,23.734888,38.892723,22.373058
5,4,Αφροδίτη,Σεβαστή,NaN,NaN,subscribed,subscribed,2021-10-24 10:02:00,25,athens,lianokladi,3,38.004994,23.734888,38.892723,22.373058
6,6,Γιάννης,Χαραλαμπίδης,yannisx@aegean.gr,NaN,subscribed,subscribed,2021-10-26 22:00:00,18,athens,lianokladi,3,38.004994,23.734888,38.892723,22.373058
7,8,Κωνσταντίνος,Δαληβίγκας,daliviga@otenet.gr,6.948008e+09,subscribed,subscribed,2021-10-26 22:00:00,19,athens,lianokladi,3,38.004994,23.734888,38.892723,22.373058
8,1,Κωνσταντίνος,Βαΐτσας,c.vaitsas@gmail.com,NaN,subscribed,subscribed,2021-10-25 14:00:00,42,athens,thessaloniki,4,38.004994,23.734888,40.644613,22.929759
9,2,Σπύρος,Πατέρας,NaN,NaN,subscribed,subscribed,2021-10-25 14:00:00,13,athens,thessaloniki,4,38.004994,23.734888,40.644613,22.929759
10,7,Χρήστος,Καλλονιάτης,chkallon@aegean.gr,6.979722e+09,subscribed,subscribed,2021-10-25 14:00:00,12,athens,thessaloniki,4,38.004994,23.734888,40.644613,22.929759
11,1,Κωνσταντίνος,Βαΐτσας,c.vaitsas@gmail.com,NaN,subscribed,subscribed,2021-10-25 22:00:00,15,athens,lamia,5,38.004994,23.734888,38.896864,22.434856
12,3,Γιώργος,Καραμανώλης,george@crowdpolicy.com,6.937038e+09,subscribed,subscribed,2021-10-25 21:00:00,28,athens,lamia,5,38.004994,23.734888,38.896864,22.434856
13,4,Αφροδίτη,Σεβαστή,NaN,NaN,subscribed,subscribed,2021-09-25 11:00:00,35,athens,lamia,5,38.004994,23.734888,38.896864,22.434856
14,5,Γιάννης,Γιανναράκης,NaN,NaN,subscribed,subscribed,2021-10-25 11:00:00,35,athens,lamia,5,38.004994,23.734888,38.896864,22.434856
15,5,Γιάννης,Γιανναράκης,NaN,NaN,subscribed,subscribed,2021-10-25 21:00:00,28,athens,lamia,5,38.004994,23.734888,38.896864,22.434856
16,5,Γιάννης,Γιανναράκης,NaN,NaN,subscribed,subscribed,2021-10-25 10:27:00,45,athens,lamia,5,38.004994,23.734888,38.896864,22.434856
17,6,Γιάννης,Χαραλαμπίδης,yannisx@aegean.gr,NaN,subscribed,subscribed,2021-10-25 11:00:00,35,athens,lamia,5,38.004994,23.734888,38.896864,22.434856
18,7,Χρήστος,Καλλονιάτης,chkallon@aegean.gr,6.979722e+09,subscribed,subscribed,2021-10-25 23:10:00,15,athens,lamia,5,38.004994,23.734888,38.896864,22.434856
19,8,Κωνσταντίνος,Δαληβίγκας,daliviga@otenet.gr,6.948008e+09,subscribed,subscribed,2021-10-25 22:20:00,12,athens,lamia,5,38.004994,23.734888,38.896864,22.434856
20,2,Σπύρος,Πατέρας,NaN,NaN,subscribed,subscribed,2021-10-25 14:00:00,16,larisa,lamia,2,39.629915,22.422677,38.896864,22.434856
21,3,Γιώργος,Καραμανώλης,george@crowdpolicy.com,6.937038e+09,subscribed,subscribed,2021-10-30 22:00:00,19,athens,larisa,5,38.004994,23.734888,39.629915,22.422677

# Customer Analytics

In [18]:
customer_id = 3

In [21]:
specific_customer_trips = customer_trips.query("customer_id == @customer_id")
specific_customer_trips

,customer_id,first_name,last_name,email,mobile,mobile_status,email_status,trip_datetime,ticket_price,departure_name,destination_name,estimated_duration,departure_lat,departure_lon,destination_lat,destination_lon
4,3,Γιώργος,Καραμανώλης,george@crowdpolicy.com,6.937038e+09,subscribed,subscribed,2021-07-25 21:00:00,40,athens,lianokladi,3,38.004994,23.734888,38.892723,22.373058
12,3,Γιώργος,Καραμανώλης,george@crowdpolicy.com,6.937038e+09,subscribed,subscribed,2021-10-25 21:00:00,28,athens,lamia,5,38.004994,23.734888,38.896864,22.434856
21,3,Γιώργος,Καραμανώλης,george@crowdpolicy.com,6.937038e+09,subscribed,subscribed,2021-10-30 22:00:00,19,athens,larisa,5,38.004994,23.734888,39.629915,22.422677

In [22]:
specific_customer_trips.to_csv("../data/specific_customer_trips.csv")

# Scenarios

## Before trip information

In [ ]:
# Find customer travelling tomorow

## Marketing campaigns

In [ ]:
# Customer segmentation and recommendation engine

## Delay - Cancelation notifications

In [ ]:
# Send delay notifications for the current train

## Feedback request

In [ ]:
# Request feedback from customers travel yesterday